<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <style>
    .about-me {
      width: 100%;
      background-color:#D8BFD8;
      padding: 30px;
      border-radius: 10px;
      box-sizing: border-box;
    }

    .about-me p {
      font-size: 16px;
      color: #fff;
      text-align: center;
    }
  </style>
</head>
<body>
  <header>
    <div class="profile-pic">
      <img src="C:\Users\illya\Desktop\фото2.jpg" alt="Фото">
    </div>
  </header>
  <h1>Стрічевський Ілля Владиславович</h1>
  <section>
    <div class="about-me">
      <p>Про мене</p>
      <p>Привіт! Мене звуть Ілля, і я студент третього курсу Черкаського державного технологічного університету. Мені 20 років, і моє основне захоплення - веб-розробка. За останні роки активного навчання і практики я набув непоганого досвіду у використанні мов програмування, зокрема HTML, CSS і JavaScript.</p>
      <p>Крім веб-розробки, я також маю певний рівень в програмуванні на мовах Java, C++ та Python. Хоча вони не є моїм основним фокусом, я здатний створювати програми на цих мовах, коли потрібно.</p>
      <p>Завдяки викладанню в ЧДТУ, я отримав гарну основу з різних аспектів програмування та розробки. Продовжую активно навчатись та розвиватись, щоб удосконалювати свої навички і бути готовим до нових викликів у сфері технологій.</p>
    </div>
    <div class="about-me-section">
  <p>Як студент, я маю навички у написанні коду на різних мовах програмування, зокрема:
        

<p>JavaScript:
Я володію досвідом у розробці веб-додатків з використанням JavaScript. Я знаю основні концепції мови, такі як змінні, функції, цикли, умовні оператори та роботу зі змінними типу об'єкт. Також я вмію працювати з різними фреймворками та бібліотеками JavaScript, такими як React, Angular та Vue.js.
</p>
<p>
C++:
У мене є певний рівень в програмуванні на мові C++. Я знаю основи мови, такі як декларація змінних, виклик функцій, використання умовних операторів та циклів. Також я розумію концепцію об'єктно-орієнтованого програмування та можу працювати з класами, спадкуванням та поліморфізмом.
</p>
<p>
HTML та CSS:
Я маю розуміння основних тегів та структури HTML. Я вмію створювати розмітку веб-сторінок, розміщувати елементи та налаштовувати їх стилі за допомогою CSS. Я знаю різні селектори, властивості стилів та можу створювати адаптивний дизайн для різних пристроїв.
</p>
<p>
React:
У мене є певний досвід роботи з фреймворком React. Я вмію створювати компоненти, використовувати стан (state) та пропси (props) для передачі даних між компонентами. Я також розумію роботу з реактивними подіями, життєвим циклом компонентів та можу ефективно використовувати роутинг та управління станом за допомогою Redux або Context API..</p>
      </div>

  </section>
  

  <section>
    <div class="achievements">
  <div class="achievement">
    <h3>C++</h3>
    <span class="percentage">30%</span>
  </div>
  <div class="achievement">
    <h3>HTML,CSS</h3>
    <span class="percentage">80%</span>
  </div>
  <div class="achievement">
    <h3>JavaScript</h3>
    <span class="percentage">55%</span>
    
  </div>
  <div class="achievement">
    <h3>React </h3>
    <span class="percentage">60%</span>
    
  </div>
</div>
  </section>

  <section>
   <div class="portfolio">
  <div class="portfolio-item">
   <h3>Сайт за допомогою React</h3>
    <img src="C:\Users\illya\Desktop\фото4.jpg" alt="Photo 1" class="portfolio-image">
  </div>
  <div class="portfolio-item">
   <h3>Проективне відображення руху Землі</h3>
    <img src="C:\Users\illya\Desktop\фото5.jpg" alt="Photo 2" class="portfolio-image">
  </div>
</div>
  </section>


<section class="contact">
  <h3>Контакти</h3>
  <ul>
    <li><a href="mailto:i.v.strichevskyi.fitis20@chdtu.edu.ua">Email i.v.strichevskyi.fitis20@chdtu.edu.ua</a></li>
    <li><a href="tel:380636422374">Телефон: +380636422374</a></li>
  </ul>
</section>

</body>
</html>
